.g-login{
    position: relative;
    bottom: 900px;
    left: 1200px;
  border: 1px solid black;
  
  background-color: white;
  padding-left: 30px;
  outline: none;
  border: none;

}
.try button{
  background-color: crimson;
}