.box{
    border: 2px solid black;
    height:1050px;
    width:600px;
    position: relative;
    left: 1000px;
    bottom: 1200px;
    background-color: white;
    border-right: 2px solid black;
}
.car{
    height: 20px;
    width: 600px;
}
.cartxt{
    color: black;
    position: relative;
    top: 20px;
    right: 20px;
}

.loginmethod{
    position: relative;
    bottom: 130px;
}

.im1{
    height: 400px;
    width: 150px;
}
/* Loginj with phone  */
.ph{
    border: 1px solid black;
    width: 90%;
    height: 70px;
    position: relative;
    top: 520px;
    left: 25px;
    border-radius:10px
}
.ph:hover{
    opacity: .5;
    cursor: pointer;
}
.phone{
    position: relative;
   
    left: 60px;
    height: 60px;
    width: 60px;
}
.phtext{
    position: relative;
    bottom: 60px;
    left: 150px;
}
/* Login with fb */
.f{
    position: relative;
    bottom: 30px;
}
.fb{
    border: 1px solid black;
    width: 90%;
    height: 70px;
    position: relative;
    top: 570px;
    left: 25px;
    border-radius:10px
}

.facebook{
    position: relative;
   
    left: 50px;
    height: 60px;
    width: 90px;
}
.fb:hover{
    opacity: .5;
    cursor: pointer;
}
.fbtext{
    position: relative;
    bottom: 60px;
    left: 150px;
}
/* Login with Google */
.g{
    position: relative;
    bottom: 60px;
}
.google{
    border: 1px solid black;
    width: 90%;
    height: 60px;
    position: relative;
    top: 620px;
    left: 25px;
    padding-left: 100px;
    border-radius:10px
}
.google:hover{
    opacity: .5;
    cursor: pointer;
}
.gimg{
    position: relative;
   top: 8px;
    left: 60px;
    height: 50px;
    width: 50px;
}
.gtext{
    position: relative;
    bottom: 55px;
    left: 150px;
}
/* ENDS */
.add{
    position: relative;
    top: 450px;
    text-align: center;
    color: grey;
}
.email{
    font-size: 20px;
    position: relative;
    top: 490px;
    left: 210px;
}
.lasttext{
    position: relative;
    top: 520px;
    left: 140px;
}
/* CLOSE BUTTON */
.close{
   position: relative;
   bottom: 310px;
   height: 50px;
   right: 20px;
}